<div style="display: flex; flex-direction: column;">
    <div style="display: flex;">
        <img style="width: 10rem;" [src]="mediaInfo?.poster_path" />
    </div>
    <h1>{{ mediaInfo?.title || "Movie Title" }}</h1>
    <p><strong>Overview:</strong>{{ mediaInfo?.overview }}</p>
    <p><strong>Release Date:</strong>{{ mediaInfo?.date }}</p>
    <p><strong>Runtime:</strong> 164 minutes</p>
    <p><strong>Genres:</strong> {{ mediaInfo?.genres }}</p>
    <p><strong>IMDB ID:</strong> tt9603212</p>
    <p><strong>Vote Average:</strong>{{ mediaInfo?.vote_average }}</p>
    <p><strong>Popularity:</strong> {{ mediaInfo?.popularity }}</p>
</div>

<div>
    <h2>Belongs to Collection</h2>
    <p><strong>Name:</strong> Mission: Impossible Collection</p>
    <img src="https://image.tmdb.org/t/p/original/TFTfzrkX8L7bAKUcch6qLmjpLu.jpg" alt="Backdrop Image">
</div>

<div>
    <h2>Production Companies</h2>
    <ul>
        <li>Paramount (US)</li>
        <li>Skydance (US)</li>
        <li>TC Productions (US)</li>
    </ul>
</div>

<div>
    <h2>Production Countries</h2>
    <p>United States of America (US)</p>
</div>

<div>
    <h2>Spoken Languages</h2>
    <ul>
        <li>English (English, en)</li>
        <li>French (Français, fr)</li>
        <li>Italian (Italiano, it)</li>
        <li>Russian (Pусский, ru)</li>
    </ul>
</div>

<div>
    <h2>Links</h2>
    <p><strong>Homepage:</strong> <a href="https://www.missionimpossible.com">https://www.missionimpossible.com</a></p>
</div>